<div>
	<h2>Expressions</h2>
	Expressions are used to bind application data to html. Expressions are written inside double braces like {{ expression}}. Expressions behaves in same way as ng-bind directives. AngularJS application expressions are pure javascript expressions and outputs the data where they are used.
</div>
<br>
<div ng-init="showEx=false">
	<div ng-show="showEx" id="showEx">
		<pre>
		<h3>Example</h3>
		<h4>Display the sum of two numbers.</h4>
		<table>
			<tr>
				<td>First Number:</td>
				<td><input type="text" ng-model="a" placeholder="Type number"/></td>
			</tr>
			<tr>
				<td>Second Number:</td>
				<td><input type="text" ng-model="b" placeholder="Type number"/></td>
			</tr>
		</table>
		<br><h4>Sum:{{ a -- b }}</h4>
	</pre>
		<br>
	</div>
	<button type="button" class="btn btn-primary" ng-click="showEx = !showEx">{{(showEx==false)?"Show example":"Hide example"}}</button>
</div>

					